.custom-node-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-node{
    border: solid 2px gray;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.port-col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.port-col-in {
    transform: translate(-100%, 0%);
}

.port-col-out {
    transform: translate(110%, 0%);
}

.triangle-port {
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 10px solid #444;
}

.triangle-port:hover{
    border-left-color: mediumpurple;
}

.custom-node-configure {
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
