[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "~=5.1"
coverage-badge = "~=1.0"
v = {editable = true,version = "*"}

[packages]
autopep8 = "~=1.5"
django = "~=3.1.9"
pandas = "~=1.0.1"
python-dotenv = "~=0.12.0"
networkx = "~=2.4"
pyworkflow = {path = "./pyworkflow",editable = true}
djangorestframework = "*"
drf-yasg = "*"
click = "*"
altair = "~=4.1.0"
cli = {path = "./CLI",editable = true}

[requires]
python_version = "3.8"
